@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,600;1,700&family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #755139FF;
    --secondary-color: #D4B996FF;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);
}

html {
    font-size: 75.5%;
}

.home {
    width: 100%;
    height: 500px;
    color: var(--secondary-color);
    box-shadow: 0 5px 10px var(--secondary-color);
    display: flex;
    align-items: center;
    position: relative;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Images/bg1.png);
    clip-path: circle(60% at left 300px);
    z-index: -1;
}

.col1 h2 {
    font-size: 3rem;
    text-align: center;
    margin-left: 35px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.col2 {
    position: absolute;
    top: 20%;
    right: 10%;
}

.col2 h2 {
    font-size: 3.1rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 1rem;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    outline: 0;
    border: 0;
    width: 350px;
    height: 35px;
    padding: 0 0.5rem;
    font-size: 15px;
    font-weight: bold;
}

.search button {
    outline: none;
    border: none;
    height: 35px;
    padding: 0 0.5rem;
}

.col2 img {
    width: 250px;
    margin: 30px 50px;
}


/* book js */

.container {
    width: 65%;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    grid-gap: 20px;
    box-sizing: border-box;
}

.card {
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(212, 185, 150, .5);
    transition: .5s;
    text-align: center;
    position: relative;
    min-height: 300px;
}

.card:hover {
    transform: scale(0.9);
    background-color: rgba(255, 255, 255, 0.8);
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 1rem 1rem 0 0;
}

.card button {
    background-color: var(--primary-color);
    outline: none;
    border: none;
    padding: .5rem 5rem;
    color: #fff;
    font-size: 1.1rem;
    font-family: "Poppin", sans-serif;
    font-weight: 600;
    position: absolute;
    bottom: 3%;
    left: 7%;
}

.card h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.overlay {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay-inner {
    width: 700px;
    height: 590px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
    background: white;
    padding: 1.9rem;
    overflow-y: scroll;
}


/* .overlay-innerest {
    position: absolute;
    top: 20%;
} */

.overlay-inner .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
}

.overlay-inner .inner-box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.overlay-inner .inner-box img {
    margin-right: 20px;
    width: 150px;
    height: 200px;
}

.overlay-inner .inner-box h3 {
    margin-top: 10px;
    color: green;
}

.overlay-inner .inner-box h4 {
    color: blue;
}

.overlay-inner .inner-box button {
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: #24a0ed;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}

.overlay-inner .description {
    margin-top: 2rem;
    text-align: justify;
    font-size: 13px;
}